$primary_color: #1c1c1d;
$font_color: #878788;
$secondary_color: #c19b77;

.bookingInfor{
    .title{
        text-align: center;
        color: $secondary_color;
        font-size: 3rem;
        margin-bottom: 50px;
    }
    .infor{
        .itemImg{
            margin-bottom: 20px;
            img{
                width: 100%;
            }
        }
        .inforItem{
            font-size: 1.6rem;
            color: $font_color;
            .date{
                display: flex;
                .item{
                    flex: 1;
                }
            }
            .item{
                color: $primary_color;
                margin-bottom: 10px;
                span{
                    color: $font_color;
                }
            }
            .btn{
                outline: none;
                border: none;
                border-radius: 5px;
                background-color: $secondary_color;
                padding: 10px 20px;
                color: #fff;
                cursor: pointer;
                opacity: 0.9;
                &:hover {
                    opacity: 1;
                }
            }
        }
        .empty{
            padding: 5px;
            font-size: 1.6rem;
            justify-content: center;
            align-items: center;
            display: flex;
            i{
                margin-right: 10px;
                font-size: 4rem;
            }
        }
    }
}

// @media screen and (max-width: 739px) {
//     .bookingInfor{
//         .infor{
//             width: 80%;
//         }
//     }
// }